<app-form [formGroup]="form" justifyContent="center">
  <h2>Depot</h2>
  <mat-form-field>
    <mat-label>Depot</mat-label>
    <mat-select formControlName="depot">
      <mat-option
        [value]="depot"
        *ngFor="let depot of availableDepots$ | async"
      >
        {{ depot.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h2>Functie</h2>
  <mat-form-field>
    <mat-label>Functie</mat-label>
    <mat-select formControlName="function">
      <mat-option
        [value]="function"
        *ngFor="let function of availableFunctions$ | async"
      >
        {{ function.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    [disabled]="!(canClickContinue$ | async)"
    type="button"
    [routerLink]="['/select-shift']"
    mat-stroked-button
    color="primary"
  >
    Volgende
  </button>
</app-form>
