// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
$postnl-poc-primary: mat.define-palette(mat.$orange-palette, A400);
$postnl-poc-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$postnl-poc-warn: mat.define-palette(mat.$red-palette);
$postnl-poc-theme: mat.define-light-theme((color: (primary: $postnl-poc-primary,
        accent: $postnl-poc-accent,
        warn: $postnl-poc-warn,
      ),
    ));

@include mat.core();
@include mat.all-component-themes($postnl-poc-theme);
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
  height: -webkit-fill-available;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

form {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;

  }
}

.mat-mdc-raised-button.mat-primary {
  color: white !important;
}

// router-outlet ~ * {
//   position: absolute;
//   height: calc(100% - 93px);
//   width: 100%;
// }
